{% extends 'user/temp.html'%}
{%block title%}
Sign Up
{%endblock%}
{%block topp%}
    <div class="container-fluid topp">
        <div class="row">
          <div class="col-md-2 hometop">
            <nav class="navbar navbar-expand-lg">
              <div id="navbarNav">
                <ul class="navbar-nav">
                  {%if loggedin == ""%}
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  {%else%}
                  <li class="nav-item">
                    <a class="nav-link" href="/store/home">Home</a>
                  </li>
                  {%endif%}
                </ul>
              </div>
            </nav>
          </div>
        </div>
       </div>
{%endblock%}
{%block homecat%}
      <div class="container">
        <div class="row" >
    <div class=" justify-content-center align-items-center h-100">
      <div class="justify-content-center align-items-center h-100">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
              <div style="display:flex; align-items: center; justify-content: center;">
                    <h1 class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">support</h1>
                  </div>
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Contact Us</p>
                <div class="container">
                <div class="row" id="aboutrow1">
                    <input type="text" placeholder="what would you like to let us know">
                    <button class="btn  btn-primary">send</button>
                </div>
                </div>
                    <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Safety Tips</p>
                <div class="container">
                <div class="row" id="aboutrow2">
                    <P>kindly clearfully consider the following to make your experience here safer and more fluid</P>
                    <ul>
                        <li>No scaming!</li>
                        <li>Keep your eyes peeled for new steals</li>
                        <li>If anyone asks where you get your wears dont spill the beans just say its a steal!</li>
                    </ul>
                </div>
                </div>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="{{url_for('static',filename='images/s.png')}}" class="img-fluid" alt="Sample image">

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
        </div>
      </div>
{%endblock%}